@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/galano-grotesque-alt');


body {
font-family: 'Galano Grotesque Alt', 'Trebuchet MS', sans-serif;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #a8dadc;

}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: rgba(255, 0, 0, 0.459) !important;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25%,
    75% {
        transform: translateX(15px);
    }

    50% {
        transform: translateX(5px);
    }
}

.hover\:animate-shake:hover {
    animation: shake 0.5s;
}

.hover\:animate-shake:hover {
    animation: shake 0.5s;
}

.modal {
    font-size: 12px;
}

.modal>.header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}

.modal>.content {
    width: 100%;
    padding: 10px 5px;
}

.modal>.actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}

.modal>.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}